/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: black;
}

/* Header Section */
header {
    position: relative;
    background-color: #ffffff ; /* Dark background color */
    padding: 20px 0; /* Padding for spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    z-index: 100;
	background: url('.jpg') no-repeat center center/cover;
}
#header {
    background-color: #f7f7f7;
}

/* Header Menu */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the menu horizontally */
    width: 100%;
    margin: 0;
}

nav ul li {
    margin-right: 30px; /* Adds spacing between the menu items */
}

nav ul li:last-child {
    margin-right: 0; /* Removes margin from the last item */
}

nav ul li a {
    color: #4e0cb2; /* White text color for menu */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #29dfd7; /* Hover effect for menu items */
}

/* Header Text */
.header-image {
    text-align: center;
    margin-top: 50px; /* Adds space below the header menu */
}

.header-image h1 {
    font-size: 3.5em;
    margin: 0;
    font-weight: bold;
    color: #4e0cb2 ; /* White color for the title text */
}

.header-image p {
    color: #4e0cb2 ; /* White text for subtitle */
    font-size: 1.2em;
    margin-top: 10px;
}

/* Styling for each word in the header text */
.devops {
    color: #4cc2f9 ; /* Blue color for "Mary" */
}

.engineer {
    color: #4e0cb2; /* Red color for "DevOps" */
}

.cloud {
    color: #29dfd7; /* Yellow color for "Engineer" */
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .header-image h1 {
        font-size: 2.5em; /* Smaller title on smaller screens */
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}


/* Footer Menu Style */
footer {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Responsiveness for Header */
@media screen and (max-width: 768px) {
    header {
        height: 60vh;
    }

    .header-image h1 {
        font-size: 2.5em;
    }

    .header-image p {
        font-size: 1.2em;
    }
}


section {
	
    padding: 50px 30px;
    margin: 20px 0;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	color: black:
}

h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f4f4f4;
}

h3 {
    font-size: 2em;
    color: #ffffff;
}

/* About Section */
#about {
    background-color: #f2f6f6;
    color: #000000;
    padding: 50px 20px;
    text-align: center;
	
}
#about p {
    color: #000000;
}


#about h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #4e0cb2;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.about-image,
.about-paragraph,
.consultation-button {
    flex: 1 1 30%;
    max-width: 30%;
    margin: 0 10px;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    animation: bounce 2s infinite; /* Apply bounce animation */
}

/* Bounce animation keyframes */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Move image up */
    }
}

.about-paragraph p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #fff;
}

.consultation-button {
    display: flex;
    justify-content: center;
}

.consultation-button button {
    padding: 15px 30px;
    background-color: #4e0cb2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.consultation-button button:hover {
    background-color: #29dfd7;
	color:#ffffff;
}

/* Mobile and tablet adjustments */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-image,
    .about-paragraph,
    .consultation-button {
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
    }

    .about-paragraph p {
        font-size: 1em;
    }

    .consultation-button button {
        width: 100%;
    }
}


/* Mobile and tablet adjustments */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;  /* Stack items vertically */
        align-items: center;
    }

    .about-image,
    .about-paragraph,
    .consultation-button {
        flex: 1 1 100%; /* 100% width on mobile */
        max-width: 100%;
        text-align: center;
    }

    .about-paragraph p {
        font-size: 1em;
    }

    .consultation-button button {
        width: 100%;
    }
}


/* Services Section */
#services {
	
    background-color: #f2f6f6; /* Dark background */
    color: white;
    text-align: center;
    padding: 50px 20px;
}
#services .services-row {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

#services .service {
    background-color: #4e0cb2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
}
#services .service:hover {
    background-color: #29dfd7;
}


#services .service img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#services .service p {
    color: #f4f4f4;
    font-size: 1.2em;
    margin-top: 10px;
}
/* Services Section */

#services h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #4e0cb2; /* Highlighted title color */
}

.services-row {
    display: flex;
    flex-wrap: wrap; /* Allows services to move to the next line */
    justify-content: center;
    gap: 20px;
}

.service {
    background-color: #333; /* Service card background color */
    border-radius: 10px;
    overflow: hidden;
    width: calc(33.333% - 20px); /* 3 services per row on large screens */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.service img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #29dfd7;
}

.service p {
    font-size: 1.5em;
    color: #FF9900; /* Text color */
    margin-top: 15px;
    font-weight: bold;
}

.service:hover {
	
    transform: translateY(-5px); /* Slight lift effect on hover */
	
}


/* Portfolio Section */
#portfolio {
	
    background-color: #f2f6f6; /* Dark background */
    color: white;
    text-align: center;
    padding: 50px 20px;
}

#portfolio h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #4e0cb2; /* Highlighted title color */
}

.portfolio-row {
    display: flex;
    flex-wrap: wrap; /* Allows portfolio items to move to the next line */
    justify-content: center;
    gap: 20px;
}

.portfolio-item {
    background-color: #4e0cb2; /* Portfolio card background color */
    border-radius: 10px;
    overflow: hidden;
    width: calc(33.333% - 20px); /* 3 items per row on large screens */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
	
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #29dfd7;
}

.portfolio-item p {
    font-size: 1.2em;
    color: #ffffff; /* Text color */
    margin-top: 15px;
    font-weight: bold;
	
}

.portfolio-item:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
	 background-color: #29dfd7;
}

/* Mobile and tablet adjustments */
@media (max-width: 768px) {
    .portfolio-item {
        width: calc(100% - 20px); /* 1 item per row on mobile */
    }
}

/* Proven by the Numbers Section */
#numbers .row {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

#numbers .stat {
    background-color: #4e0cb2;
    padding: 30px;
    border-radius: 10px;
    width: 25%;
}

#numbers .stat h3 {
    font-size: 2.5em;
    color: #29dfd7;
}

#numbers .stat p {
    color: #f4f4f4;
    font-size: 1.2em;
}
#numbers {
	background-color: #f2f6f6;
}
#numbers h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #4e0cb2; /* Highlighted title color */
}
/* Technology Stack Section */
#tech-stack {
	
    background-color: #f2f6f6;
    padding: 30px;
    border-radius: 8px;
}
#tech-stack h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #4e0cb2; /* Highlighted title color */
}

#tech-stack ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tech-stack ul li {
    background-color: #4e0cb2;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

#tech-stack ul li:hover {
    background-color: #29dfd7;
}

/* Testimonials Section */
#testimonials {
    background-color: #f2f6f6;
    padding: 50px 30px;
    text-align: center;
}
#testimonials h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #4e0cb2; /* Highlighted title color */
}

#testimonials .testimonial {
    display: inline-block;
    width: 30%;
    margin: 0 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
	color:#29dfd7;
}

#testimonials .testimonial p {
    font-style: italic;
    font-size: 1.1em;
}

#testimonials .testimonial strong {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

#testimonials .testimonial:hover {
    background-color: #29dfd7;
}

/* Contact Section */
#contact {
    background-color: #4e0cb2;
   
}
#contact h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ffffff; /* Highlighted title color */
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #29dfd7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #6afffa ;
	color:#4e0cb2;
}

/* Footer Styling */
footer {
	
    text-align: center;
    background-color: #f2f6f6;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add a smooth fade-in effect to the sections */
section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

section.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Header Animation */
header {
    animation: slideIn 1s ease-out;
}

/* Add animations for other sections */
@keyframes slideIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Footer Animation */
footer {
    animation: fadeInFooter 1s ease-out;
}

@keyframes fadeInFooter {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Smooth Scroll for Navigation Links */
html {
    scroll-behavior: smooth;
}

/* Custom "Let's Chat" Button Styling */
.chat-button {
    background-color: #29dfd7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    z-index: 999;
}

.chat-button:hover {
    background-color: #6afffa ;
	color:#4e0cb2;
}
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sections Styling */
section {
    padding: 40px 20px;
    text-align: center;
}

/* About Section */
#about .about-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 40px 0;
}




/* Mobile and tablet adjustments */
@media (max-width: 768px) {
    .service {
        width: calc(100% - 20px); /* 1 service per row on mobile */
    }
}


/* Footer Styling */
footer {
    background-color: #4e0cb2;
    padding: 40px 20px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap; /* Ensures the items can wrap on smaller screens */
    justify-content: space-between; /* Distributes space evenly between the sections */
    gap: 20px;
    align-items: center;
}

/* Footer Menu */
.footer-menu {
    display: flex;
    justify-content: space-around;
    width: 30%;
    flex-wrap: wrap; /* Allows the menu items to wrap if space is tight */
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    margin-bottom: 10px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.footer-menu ul li a:hover {
   
    color: #29dfd7;
}

/* Social Media Links */
.follow-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.follow-me h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.follow-me ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.follow-me ul li a {
    color: #4db8ff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Contact and Address */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.contact-info p {
    font-size: 1em;
    margin: 5px 0;
}

/* Make the footer responsive */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-menu, .follow-me, .contact-info {
        width: 100%;
        text-align: center;
    }

    .follow-me ul {
        flex-direction: column;
    }

    .contact-info p {
        font-size: 0.9em;
    }
}




.contact-info p {
    font-size: 1em;
    margin
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the bounce height */
    }
}

.bounce-img {
    animation: bounce 1s ease-in-out infinite; /* The bounce effect */
}

.consultation-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;  /* Adjust the space between paragraph and button */
    background-color: #4e0cb2 ; /* Button color */
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.consultation-btn:hover {
    
    transform: translateY(-5px); /* Slightly lift the button when hovered */
	
}

.consultation-btn:active {
    transform: translateY(2px); /* Slight press-down effect */
}


